.fm-pattern-about{
    background: rgb(61,0,0);
    background: linear-gradient(165deg, rgba(61,0,0,1) 0%,rgba(22,22,22,1) 50%, rgba(22,22,22,1) 100%);

    .fm-card-about{
        overflow: hidden;
        position: relative;
        width: 80%;
        height: 100%;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 3em;
        background: linear-gradient(165deg, rgba(61,0,0,1) 0%, rgba(22,22,22,1) 75%);
        box-shadow: 4px 4px 20px rgba(0, 0, 0, .2);
    
        #fm-dots-card{
            position: absolute;
            bottom: 0;
            left: 10%;
            width: 50%;
            z-index: 1;
            opacity: .1;
        }
        #fm-profile-card{
            position: absolute;
            bottom: 0;
            left: 40%;
            width: 80%;
            z-index: 2;
            opacity: .6;
        }
    }

    h3{
        font-family: Roboto-Light;
        letter-spacing: 7px;
        font-size: 34px;
    }
}