
@font-face{
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face{
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face{
    font-family: 'coolvetica';
    src: url('../fonts/coolvetica\ rg.ttf')
}

$background-color: rgb(22, 22, 22);
$secondary-color: #909090;

*{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

@mixin icon($principal, $secondary){
    color: $principal;
    transition: all 300ms ease;

    &:hover{
        color: $secondary;
    }
}

.btn{
    margin-left: 4px; 
    box-sizing: border-box;
    border: none;
    color: white;
    width: 200px;
    background: linear-gradient(to right, rgb(61, 0, 0), rgb(0, 0, 0));
    border-radius: 2em;
    padding: 10px 20px;

    &:hover{
        color: white;
        box-shadow: 0px 0px 10px black;
    }
}

.scenes{
    overflow: hidden;
}
.fm-h3{
    position: relative;
    padding-bottom: 10px;

    &::before{
        content: '';
        position: absolute;
        transition: all 300ms;
        left: 0;
        bottom: 0;
        width: 80px;
        height: 2px;
        background-color: red;
    }
}
body{
    
    background-color: $background-color;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: white;
}

.integral-font{
    font-size: 72px;
    font-family: 'coolvetica';
    
}

.type{
    font-size: 60px;
    color: red;
}
.fm-principal-text{
    margin-top: 50px;
    h1{
        font-family: Montserrat;
        font-size: 50px;
        letter-spacing: 3px;
    }
    p{
        color: $secondary-color;
    }
}

