aside{
    top: 0;
    display: none;
    z-index: 5;
    transition: left .5s ease;
    position: fixed;
    left: -200px;
    width: 200px;
    height: 100vh;
    background: linear-gradient(360deg , rgb(61, 0, 0), rgb(22, 22, 22));
    box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.5);

    &::after{
        content: '';
        z-index: -1;
        background-color: rgb(22,22,22);
        box-shadow: 0px 0px 20px rgb(61, 0, 0);
        position: absolute;
        top: 0;
        left: 200px;
        width: 767px;
        height: 45px;
    }

    .fm-active{
        background: rgb(61, 0, 0);
    }

    ul{
        li{
            height: 50px;
            a{
                color: white;
                text-decoration: none;
                display: block;
                margin: 5px 0;
                padding: 13px;
                &:hover{
                    color: white;
                    text-decoration: none;
                }

            }
            &:hover{
                background: rgb(61, 0, 0);
            }
        }
    }

    .black{
        color: red;
        position: absolute;
        top: 8px;
        right: -285px;
        img{
            margin-left: 10px;
            width: 80px;
        }
    }
}

.left{
    left: 0px;
}
.fm-welcome{
    position: relative;
    &::before{
        z-index: -1;
        content: '';
        background: linear-gradient(rgb(61, 0, 0), rgb(0, 0, 0));
        position: absolute;
        width: 100%;
        height: 100%;

    }
}

#fm-img-btn{
    z-index: -1;
    position: absolute;
    width: 100%;
    bottom: 0;
}

#fm-img-left{
    width: 100px;
    left: 0;
    top: 35%;
    z-index: -1;
    position: absolute;
}


#fm-img-right{
    width: 100px;
    right: 0;
    top: 20%;
    z-index: -1;
    position: absolute;
}

.fm-nav{
    padding-top: 20px;

    .fm-nav-img{
        flex-basis: 50%;

        img{
            cursor: pointer;
            max-width: 150px;
        }
    }
    .fm-nav-list{
        flex-basis: 50%;
        list-style: none;
    }

    .fm-nav-item{
        margin: 4px 10px;
        padding: 5px;
        position: relative;
        transition: all 300ms;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            transform: translate(-50%, -50%);
            height: 2px;
            transition: all 300ms;
            background-color: red;
        }

        &:hover::before{
            left: 50%;
            width: 50%;
        }

        a{
            text-decoration: none;
            color: white;
        }
    }
    .active{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 50%;
            width: 50%;
            bottom: 0;
            transform: translate(-50%, -50%);
            height: 2px;
            transition: all 300ms;
            background-color: red;
        }
    }
}



.center{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;

    .fm-presentation{
        font-size: 30px;
        color: white;
        transition: color 300ms ease;

        &:hover{
            color: rgb(255, 0, 0);
        }
    }
}